xml/jaxb/src/main/resources/xsd/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified">
  <xs:element name="user" type="User"></xs:element>
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="created" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>