xml/xsd2java/src/main/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns:userns="http://xml.coolbeevip.com/xsd2java/gen"
        xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://xml.coolbeevip.com/xsd2java/gen"
        elementFormDefault="qualified">

  <element name="userRequest" type="userns:UserRequest"/>

  <complexType name="UserRequest">
    <sequence>
      <element name="id" type="int"/>
      <element name="name" type="string"/>
      <element name="created" type="dateTime"/>
    </sequence>
  </complexType>
</schema>